

spring:
  redis:
    host: 10.10.11.58
    port: 6379
    lettuce:
      pool:
        max-active: 25
        max-idle: 25
  cache:
    redis:
      time-to-live: 3600s
      blackdata:
        ttl: 5s
      use-key-prefix: false #默认是true，会在key的前面加上cache-name::
      cache-null-values: false  #默认是true，会在key的前面加上cache-name::
    cache-names:
      - blackdata